* {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
#calc-form {
  margin: 3%;
  width: 300px;
  border: 1px darkgrey solid;
  background-color: black; /* rgba(0, 0, 0, 0.5);*/
  padding-bottom: 1px;
  padding-left: 2.5px;
}
.column {
  display: inline;
}

#result {
  background-color: rgb(46, 48, 48);
  color: aliceblue;
  height: 80px;
  width: 295px;
  margin-top: 4px;
  margin-bottom: 2px;
  border: 0px;
}

#equal {
  width: 146px !important;
  background-color: orange;
}

button {
  margin: 2px 0px 2px 0px !important;
  width: 70.5px;
  height: 70.5px;
  border: 1px hidden transparent;
  border-radius: 10px;
}

.op {
  background-color: rgb(0, 153, 255);
}

.clear,
.del {
  background-color: rgb(206, 58, 0);
}

.num,
.dec {
  background-color: aquamarine;
}
